/* Mobile first css with primary max 767px */

body{
    margin: 2em;
}  

header, section, #blocks, aside{
    display: grid;
    width: 100%;
    height: 100%;
}

p{
    text-align: center;
    align-self: center;
}


body, header, section,footer {
    color: blac
}


header {
    display: grid;
    grid-template-rows: 75px;
}

.b-grid-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 2fr 2.5fr 1.5fr;
    grid-template-columns: 20% auto;
}
    
#b-c-d{
    display: grid;
    grid-template-rows: 150px 125px 125px;
    width: 500%;
    grid-auto-flow: column;

}

.cd-grid-container {
    display: grid;
    grid-template-columns:6fr;
    grid-template-rows: 125px 125px;
    width: 100%;
}

.block-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 250px 250px;
}

.footer-grid-container {
    display: grid;
    width: 100%;
    grid-template-rows: 80px;

  }