/* State changes for screen 768-960 and larger */

@media screen and (min-width: 768px){
    
    #b-c-d{
        display: grid;
        width: 100%;
        grid-auto-flow: row;
        grid-template-rows: 200px 250px 150px;

    }

    aside{
        height: 600px;
    }
    
    .cd-grid-container {
      display: grid;
      grid-template-columns:repeat(2, 50%);
      grid-template-rows: 200px 250px 150px;
  }
  
  
  .block-grid-container {
      display: grid;
      grid-template-columns: repeat(4, 50%);
      grid-template-rows: 250px;
  }
  
  
    .footer-grid-container {
      display: grid;
      width: 200%;
      grid-template-rows: 150px;
  
    }



};